click==6.7
Flask==0.12.2
Flask-API==1.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2
numpy==1.15.4
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
tensorflow==1.12.0
opencv-python==3.4.5.20